@import 'global';
@import 'animations';

header{
    width: 100%;
    padding: 50px 0px;
    height: 100vh;
    background-color: #141A28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.base-timer {
    position: relative;
    width: 150px;
    height: 150px;
}
.count-box{
    width: 150px;
    height: 150px;
    background-color: #0F111D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #080B1A;
    z-index: 9;
    
    &.green{
        .count , h4{
            color: #1AF183 !important;
        }

        .count , .icon{
            border-color: #1AF183 !important;;
        }

        .icon{
            img{
                filter: invert(88%) sepia(87%) saturate(1055%) hue-rotate(70deg) brightness(99%) contrast(91%);
            }
        }
    }

    &.purple{
        .count , h4{
            color: #D894F5 !important;
        }
        .count , .icon{
            border-color: #D894F5 !important;
        }

        .icon{
            img{
                filter: invert(84%) sepia(50%) saturate(3950%) hue-rotate(211deg) brightness(92%) contrast(109%); 
            }
        }
    }

    &.blue{
        .count , h4 {
            color: #195faf !important;
        }

        .count , .icon{
            border-color: #195faf !important;
        }

        .icon{
            img{
                filter: invert(24%) sepia(96%) saturate(1548%) hue-rotate(199deg) brightness(89%) contrast(87%);
            }
        }
    }

    .count{
        font-size: 20px;
        font-weight: 700;
        width: fit-content;
        margin: 0px auto;
        padding: 0px 0px 4px 0px;
        color: #9AA14A;
        border-bottom: 1px solid #9AA14A;

    }

    .name{
        font-size: 14px;
        font-weight: 500;
        color: #9AA14A;
        margin-top: 20px;
    }
    .base-timer__svg {
        transform: scaleX(-1);
        width: 120%;
        height: 115%;
        position: absolute;
    }
    
    .base-timer__circle {
        fill: none;
        stroke: none;
    }
    .base-timer__path-elapsed {
        stroke-width: 2px;
        stroke: transparent;
    }

    .base-timer__path-remaining {
        stroke-width: 2px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
        fill-rule: nonzero;
        stroke: currentColor;

        &.green{
            color: #1AF183;
        }

        &.purple {
            color: #D894F5;
        }

        &.blue{
            color: #195faf;
        }
    }

    .border-shape{
        width: 100%;
        height: 100%;
        position: absolute;
        border: 2px solid #9AA14A;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: -1;
    }
    .icon{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: #0F111D;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: absolute;
        z-index: 91;
        top: 11px;
        right: 0px;

        img{
            width: 70%;
            height: 70%;
            object-fit: contain;
        }
    }
}
